@font-face {
	font-family: LemonMilk;
	src: url(https://ribenabeme.com/greeting/fonts/LemonMilk.ttf);
}
html{
	font-family: LemonMilk !important;
	height:100% !important;
	min-height:100%;
}
body {
	font-family: LemonMilk !important;
	min-height:100%;
	height: 100% !important;
	background-image: url(../img/video_bg.png);
	background-repeat:no-repeat;
	background-position: center center;
	background-attachment: fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0;
}
video {
	width: 100%;
	height: auto;
}
h1,h2,h3,h4,h5,h6{
	font-family: LemonMilk;
	font-weight: 500;
	color: #ffffff;
}
.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

#greetingMessage{
	color:white;
}
.greet{
	width: 400px;
	margin: 0 auto;
	margin-top: 20px;
}
.starter-template {
	padding: 40px 15px;
	text-align: center;
}

div.clear
{
	clear: both;
}

div.msg-chooser{

}

div.msg-chooser.disabled div.msg-chooser-item
{
	zoom: 1;
	filter: alpha(opacity=60);
	opacity: 0.6;
	cursor: default;
}

div.msg-chooser div.msg-chooser-item{
	padding: 11px;
	border-radius: 6px;
	cursor: pointer;
	position: relative;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10x;
}

div.msg-chooser div.msg-chooser-item.selected{
	padding: 8px;
	filter: alpha(opacity=100);
	opacity: 1;
}

div.msg-chooser div.msg-chooser-item img{
	padding: 0;
}

div.msg-chooser div.msg-chooser-item span.title{
	display: block;
	margin: 10px 0 5px 0;
	font-weight: bold;
	font-size: 12px;
}

div.msg-chooser div.msg-chooser-item span.description{
	font-size: 12px;
}

div.msg-chooser div.msg-chooser-item input{
	position: absolute;
	left: 0;
	top: 0;
	visibility:hidden;
}

.fc-panel{
	background:none !important;
	color:#ffffff;
	border:none !important;
	box-shadow: 0 0px 0px rgba(0,0,0,0);
}
.fc-panel>.panel-heading{
	background-color:transparent !important;
	background-image:none !important;
	border-color: transparent !important;
}
.modal {
	display:    none;
	position:   fixed;
	z-index:    1000;
	top:        0;
	left:       0;
	height:     100%;
	width:      100%;
	background: rgba( 255, 255, 255, .8 ) 
	url('../img/loading-3.gif') 
	50% 50% 
	no-repeat;
}

body.loading {
	overflow: hidden;   
}

body.loading .modal {
	display: block;
}

/** Bootstrap Media Queries **/
@media(max-width:767px){
	#nameInput{
		text-align: center !important;
	}
}
@media(min-width:768px){
	#nameInput{
		text-align: center !important;
	}
}
@media(min-width:992px){
}
@media(min-width:1200px){
	#nameInput {
		margin-left: -132px;
	}
	.pre-panel{
		margin-top: 200px !important;
	}

}
#back-btn{

}
#back-btn a{
	display:block !important;
	background-image: url('../img/btn_back.png')  no-repeat center right;;
}
#sharebtn { display: flex; justify-content: center; }
.ribena-logo{
	width: 120px;
	margin: 0 auto;
}
