<style type="text/css">
  body {
    margin: 0;
    background: #000;
  }
  video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
    width: 100%    !important;
    height: auto   !important;
  }

  #greetingMessage{
    color:white;
  }

</style>
<video id="video" preload="metadata" autobuffer autoplay controls>
 <source src="http://192.168.5.241/ribenaFbTab/videos/ribena.mp4" type="video/mp4">
  <source src="http://192.168.5.241/ribenaFbTab/videos/ribena.webm" type="video/webm">
        <source src="mov_bbb.ogg" type="video/ogg">
    Your browser does not support HTML5 video.
    <track label="English" kind="subtitles" srclang="en" src="http://192.168.5.241/ribenaFbTab/subtitles/sub.vtt" default>
    </video>

    <div class="row">
      <div class="col-sm-offset-6 col-lg-6 col-lg-offset-9">
        <div class="panel-body">
        </div>
      </div>
    </div>

    <script>

      var video = document.getElementById('video');
      video.addEventListener('click',function(){
        video.play();
      },false);

      document.getElementById('video').addEventListener('ended',myHandler,false);
      function myHandler(e) {
        // What you want to do after the event
        
      }

    </script>